body {
    background: url(../images/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.page_header{
    color: palegreen;
    text-align: center;
}

.card{
    background-color: palegreen;
}

.card-title{
    text-align: center;
    font-size: 36px;
}